<div id='header'>
  <div class='row'>
    <div class='col-md-12'>
      <div id='logo'>
        <a href='/' title='Home'>
          <img class='img-responsive' src='/logo.png'>
        </a>
      </div>
    </div>
  </div>
  <div class='visible-md visible-lg visible-sm' id='nav'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <ul class='nav nav-tabs nav-justified'>
          <li><a href="/">Home</a></li><li><a href="/series">Series</a></li><li><a href="/archive">Archive</a></li><li><a href="/about">About</a></li><li><a href="/resources">Resources</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
