---
layout: default
---

<div class='jumbotron' id='bio'>
  <div class='row'>
    <div class='col-md-4'>
      <img class='img-responsive img-rounded' src='/avatar.jpg'>
    </div>
    <div class='col-md-8'>
      <p>This is Coherent Iterations, where I&#39;m documenting my journey to become an iOS and Web Developer. My name is John. I am a full-time engineer and an aspiring developer in my free time. Contact me on <a href="https://twitter.com/jdbroadb">Twitter</a></p>
    </div>
  </div>
</div>

<article class="post">

  <div class="post-content">
    {{ content }}
  </div>

</article>
